/** @format */

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&family=Roboto&display=swap");
/** @format */
* {
  width: auto;
  height: auto;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 1440px;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", sans-serif;
}

#loader {
  position: fixed;
  left: 50%;
  z-index: 100;
  top: 50%;
  border: 16px solid #f3f3f3;
  border-top: 15px solid #023f3a;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  transition-delay: 10000000000;
  margin: -100px 0 0 -100px;
  z-index: 10000;
}

#textloader {
  position: fixed;
  left: 50%;
  top: 70%;
  color: #023f3a;
  margin: -100px 0 0 -100px;
  z-index: 10000;
  font-size: 40px;
  font-weight: 600;
}

#whiteout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  opacity: 100;
  transition: opacity 100s ease-out;
  pointer-events: none;
}

body.done #whiteout {
  opacity: 0;
  pointer-events: none;
}

.color-background {
  background-color: #ffffff;
}
/* #textloader.paused{
    animation-play-state: paused;
}


#loader.paused{
    animation-play-state: paused;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

textarea {
  resize: none;
}

.item-flex {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.logo {
  position: relative;
}

ul {
  list-style-type: none;
}
.list-choose {
  display: flex;
  position: relative;
  left: 0;
}

.list {
  color: #18191f;
  font-size: 16px;
  font-weight: 600;
  font-family: "Libre Baskerville";
  padding: 10px 20px;
  outline: none;
}

.list:hover {
  background: #c13512;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0;
  outline: none;
}
.introduction {
  height: 907px;
  border-radius: 0px;
}
.introduce {
  display: inherit;
  width: inherit;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  height: inherit;
  border-radius: 0px;
  gap: 30px;
  text-align: center;
}

.demo {
  position: relative;
  bottom: 0;
  top: 30px;
}
.navbar {
  justify-content: space-around;
  height: 72px;
  box-shadow: 0px 1px 0px 0px #e5e9f2;
  color: #18191f;
  font-family: sans-serif;
  flex-direction: row;
  align-items: center;
}
.background-origanic {
  position: absolute;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.text-origanic {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  font-family: "Libre Baskerville", sans-serif;
  display: flex;
  text-align: inherit;
}

.text-sl {
  color: #f5f5f5;
  font-weight: 400;
  text-align: inherit;
}

.flex-button {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-top: 50px;
}

.button-click-get {
  background: #023f3a;
  font-weight: 500px;
  color: #ffffff;
  border: solid #ffffff;
  padding: 15px 50px;
  font-size: 18px;
  font-family: sans-serif;
}

.button-click-get:hover {
  border: 1px solid #023f3a;
  background-color: #ffffff;
  color: #023f3a;
}
.background {
  position: absolute;
  height: 736.6834106445312px;
  width: 1441px;
  border-radius: 0px;
  background: url("./image/imagebr1.png") no-repeat scroll center;
  background-size: cover;
}
.background-jungle {
  padding-top: 20px;
}

.box-mission {
  flex-direction: row;
  border-radius: 0px;
  height: 531px;
  font-family: sans-serif;
  gap: 33px;
}

.box-text-mission {
  width: 632px;
  display: inherit;
  flex-direction: column;
  gap: 20px;
  font-family: "Libre Baskerville";
}

.box-text-email {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content-mission {
  font-size: 18px;
  font-weight: 400;
  color: #525560;
  text-align: justify;
}

.text-mission {
  text-align: start;
  color: #023f3a;
  font-weight: 700;
  font-size: 48px;
}

.icon {
  display: flex;
  height: 46px;
}

.box-icon {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
  align-items: center;
}

.text-icon {
  color: #18191f;
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
  margin-left: 30px;
  margin-top: 15px;
}

.img {
  display: flex;
  gap: 30px;
}

.box-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  height: 600px;
  gap: 20px;
}

.img- {
  position: relative;
}

.box-choose {
  height: 450px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.text-choose {
  font-family: "Libre Baskerville";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #023f3a;
}

.text-img-2-1 {
  color: #ffffff;
  font-family: "Libre Baskerville";
  font-size: 24px;
  font-weight: 400;
}

.text-img-2-2 {
  color: #ffffff;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
}

.fl {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 300px;
  height: 340px;
  gap: 10px;
  margin-left: 18px;
}

.td-container {
  display: flex;
  gap: 30px;
}

.box-testimonials {
  box-sizing: border-box;
  background: #f2eee9;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.text-Testimonials {
  font-family: "Libre Baskerville";
  font-size: 48px;
  font-weight: 700;
  color: #023f3a;
  margin-top: 64px;
}

.box-information {
  width: 347px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 27px;
}

.text-information {
  color: #525560;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 400;
}

.text-name {
  font-family: "Libre Baskerville";
  font-size: 22px;
  font-weight: 400;
  color: #18191f;
}

.flex-information {
  display: flex;
  gap: 40px;
}

.slide-click-information {
  background: #f4c095;
  width: 15px;
  height: 15px;
  border-radius: 12px;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-click-information:active {
  background-color: #ffffff;
  border: solid 2px #cd4726;
  transform: scale(1.7);
  position: relative;
}

.slide-click-infomation-position {
  width: 29px;
  height: 29px;
}

.slide-click-infomation-position:active {
  width: 9px;
  height: 9px;
  position: absolute;
  z-index: 100;
  background: #c13512;
  border-radius: 12px;
}

.text-Rediscoverthetaste {
  font-family: "Libre Baskerville";
  font-size: 48px;
  font-weight: 700;
  color: #023f3a;
}

.box-Rediscoverthetaste {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.text-image {
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 600;
  color: #023f3a;
}

.flex-in-img {
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-align: center;
}

.flex-Rediscoverthetaste {
  display: flex;
  gap: 30px;
}

.box-introduce {
  background: #f2eee9;
  height: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 54px 0;
  text-align: center;
}

.text-introduce {
  font-family: "Libre Baskerville";
  font-size: 32px;
  font-weight: 700;
  color: #023f3a;
  text-align: start;
}

.box-introduce-video {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 720px;
}
.box-introduce-text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 445px;
  height: 333px;
  gap: 25px;
  margin: 20px 0px 0px 0px;
}

.text-content {
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 400;
  color: #525560;
  gap: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.button-click {
  width: 100px;
  height: 40px;
  padding: 10px 23px;
  background: #023f3a;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 700;
}

.box-contact {
  width: 261px;
  height: 170px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.box-contact-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 510px;
  display: flex;
  padding: 0;
}

.text-icon-contact {
  font-family: "Libre Baskerville";
  font-size: 32px;
  font-weight: 400;
  color: #18191f;
}

.text-info {
  font-family: "Josefin Sans";
  font-size: 22px;
  font-weight: 400;
  color: #525560;
}

.box-arrange {
  width: 554px;
  height: 379px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
form {
  box-sizing: border-box;
}
.box-send-email {
  width: 520px;
  height: 480px;
  box-shadow: 0px 24px 48px -12px #556987;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 6px;
  gap: 15px;
  padding: 20px 0px 0 20px;
}

.box-email {
  width: 474px;
  height: 46px;
  border: 1px solid #d5dae1;
  outline: none;
  box-shadow: 0px 1px 2px 0px #0000000d;
  border-radius: 8px;
  padding-left: 14px;
}

.heard-email {
  position: relative;
  color: #333f51;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: start
}

.box-message {
  border: 1px solid #d5dae1;
  height: 220px;
  width: 474px;
  border-radius: 8px;
  outline: none;
  padding-left: 14px;
  padding-top: 14px;
  color: #023f3a;
}

.button-send {
  height: 56px;
  width: 490px;
  background: #023f3a;
  box-shadow: 0px 1px 2px 0px #6951ff0d;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 500;
  color: #f0fdf4;
  border: solid 0px;
}

li {
  list-style-type: none;
}

.click-slide {
  width: 12px;
  height: 12px;
  background: #c13512;
  border-radius: 50%;
  transition: transform 0.2s;
}

.click-slide:hover {
  background: #c13512;
  border-radius: 50%;
  transform: scale(1.5);
}

.slide-container {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}

.slide-container-information {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
.footer-famiro {
  border-radius: 0px;
  background: #f8f6f4;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin: 64px 0 0 0;
  box-sizing: border-box;
  padding: 64px 0;
}

.Menu-click-contact {
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 400;
  color: #525560;
}

.Menu-click {
  width: 105px;
  height: 223px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-menu {
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 500;
  color: #222222;
}

.box-menu-click {
  width: 100px;
  height: 108px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flex-container-menu-click {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-contact {
  display: flex;
  gap: 72px;
}

.box-menu-click-contact-us {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  gap: 12px;
}

.Menu-text-contact {
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 500;
  color: #222222;
}

.box-footer-icon {
  width: 148px;
  height: 72px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-all-contact {
  display: flex;
  gap: 148px;
}

hr {
  height: 2px;
  width: 1073px;
  border-radius: 6px;
  border: none;
  background-color: #222222;
  opacity: 15%;
}

.footer-text {
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 400;
  color: #525560;
  background-color: #f8f6f4;
}
